################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagementAPI.http
/TaskManagementAPI - Backup.csproj.user
/TaskManagementAPI - Backup.csproj
/obj/Debug/net8.0/TaskManagementAPI.AssemblyInfoInputs.cache
/.vs/TaskManagementAPI/FileContentIndex/fbe3ff96-0ba6-43a6-a0bb-53319bc90935.vsidx
/.vs/TaskManagementAPI/FileContentIndex/a7cf2d61-b533-4b14-9402-ca284dbb440c.vsidx
/.vs/TaskManagementAPI/FileContentIndex/474de5f3-31f3-4fe2-952a-4a7af4017dfe.vsidx
/.vs/TaskManagementAPI/FileContentIndex/4de354ff-0816-42ad-adeb-df3ef0835c54.vsidx
/.vs/TaskManagementAPI/FileContentIndex/a421a399-b421-4442-8f1f-cdb5b7da11cb.vsidx
