################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagementAPI.http
/TaskManagementAPI - Backup.csproj.user
/TaskManagementAPI - Backup.csproj
/obj/Debug/net8.0/TaskManagementAPI.AssemblyInfoInputs.cache
